*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt
seventh-packet-byte-count.png

\#*#
~*

testpy-output

bindings/python/pybindgen/

ms_print.*
massif.*
coverity
TAGS

.lock-waf_*_build
.waf*

build-dir/
build/
/.cproject
/.project

*.pyc
.waf*
src/NDNabstraction
build/
doc/html/
doc/latex/
\.rej$
\.orig$
\.o$
~$
^build-dir
^build
^testpy-output
^doc/html
^doc/latex
.lock-wscript
doc/ns3-object.txt
doc/introspected-doxygen.h
.lock-waf_darwin_build
.lock-waf_linux2_build
.lock-waf_cygwin_build
.lock-waf_freebsd7_build
.lock-waf_freebsd8_build
.lock-waf_freebsd9_build
.waf
^doc/introspected-doxygen\.h$
.*\.py[co]$
\.pcap$
\.mob$
\.routes$
^doc/manual/build
^doc/tutorial/build
^doc/testing/build
^doc/models/build
^doc/models/source-temp
^doc/manual/figures/.*eps
^doc/manual/figures/.*pdf
^doc/manual/figures/.*png
^bindings/python/pybindgen/
ms_print.*
massif.*
\.patch$
\.diff$
\.tr$
\#[^\#/]+\#$
.lock-wscript
.lock-wafbuild
configure
toggle
arbitrary_topo/
arbitrary_topo-1/
arbitrary_topo-1 (copy)/
rate-trace.txt
cs-trace.txt
drop-trace.txt
app-delays-trace.txt
h_rto_rtt_5.txt
h_rto_rtt_4.txt
h_rto_rtt_3.txt
p_loss.txt
h_rto_rtt_5_1.txt
h_rto_rtt_4_1.txt
h_rto_rtt_3_1.txt
p_late_premature_5.txt
p_late_premature_4.txt
p_late_premature_3.txt
h_rtt_rto_late_prema_result_5.txt
h_rtt_rto_late_prema_result_4.txt
h_rtt_rto_late_prema_result_3.txt
hit-ratio.txt
h_rto_rtt_5_avg.txt
h_rto_rtt_4_avg.txt
h_rto_rtt_3_avg.txt
h_rto_rtt_5_a.txt
h_rto_rtt_4_a.txt
h_rto_rtt_3_a.txt
throughput.txt
throughput_a.txt
h_rtt_rto_late_prema_result_3_a.txt
h_rtt_rto_late_prema_result_4_a.txt
h_rtt_rto_late_prema_result_5_a.txt
late-pre-rtt-avgrtt.p
new.sh
new3.sh
power.sh
